@for $i from 1 through 10 {
    $location: (ml: margin-left, mt: margin-top, mr: margin-right, mb: margin-bottom, mg: margin, pl: padding-left, pt: padding-top, pr: padding-right, pb: padding-bottom, pd: padding);
    @each $a,
    $b in $location {
        .#{$a}#{5 * $i} {
            #{$b}: .05rem * $i;
        }
    }
}

@for $i from 6 through 18 {
    .f#{2 * $i} {
        font-size: .02rem * $i;
    }
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.container:after,
.row:after,
.center,
ul {
    @extend .clearfix;
}

.content img {
    max-width: 100%;
}

.content_box {
    &,
    *,
    *:before,
    *:after {
        box-sizing: content-box;
    }
}

.tal {
    text-align: left;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.vat {
    vertical-align: top;
}

.vam {
    vertical-align: middle;
}

.vab {
    vertical-align: bottom;
}

.block {
    display: block;
}

.iblock {
    display: inline-block;
}

.posr {
    position: relative;
}

.posa {
    position: absolute;
}

.posf {
    position: fixed;
}

.cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contain {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* start-----新闻详情-----start */

.introduction {
    margin-bottom: .2rem;
    border: 1px solid #e5e5e5;
    padding: .05rem;
    background-color: #f5f5f5;
    color: #868686;
    line-height: .22rem;
}

.news_title {
    text-align: center;
    margin-top: .3rem;
    h1 {
        font-size: .16rem;
        color: #434343;
        font-weight: bold;
    }
    p {
        padding-top: .1rem;
        span {
            padding: 0 .03rem;
        }
    }
}
/* end-----新闻详情-----end */