* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
    font: .28rem/1.5 "\5FAE\8F6F\96C5\9ED1", "arial";
    color: #333;
    font-size: .28rem;
}

blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

address,
cite,
dfn,
em,
var {
    font-style: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

legend {
    color: #000
}

fieldset,
img {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul,
ol {
    list-style: none;
}

a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"] {
    cursor: pointer;
}

a {
    color: inherit;
    color: expression(this.parentNode.currentStyle.color);
    text-decoration: none;
    &:focus,
    &:active,
    &:hover {
        outline: 0;
    }
}

h1 {
    font-size: .36rem;
}

h2 {
    font-size: .32rem;
}

h3 {
    font-size: .28rem;
}

h4 {
    font-size: .24rem;
}

h5 {
    font-size: .20rem;
}

h6 {
    font-size: .16rem;
}

small {
    font-size: .12rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}